<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form #f="ngForm" (ngSubmit)="login()" class="login100-form validate-from flex-sb flex-w">
                <!-- campo para ingresar Email -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="NombreUsuario" [(ngModel)]="NombreUsuario" id="NombreUsuario" required autocomplete="off" placeholder="Correo / NombreUsuario">
                    <span class="focus-input100"></span>
                </div>
                <!-- campo para ingresar contrseña -->
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="password" name="password" [(ngModel)]="password" minlength="Nn1" required placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                <button [disabled]="!f.valid" class="btn btn-info btn-block login" type="submit">Login</button>
            </form>
        </div>
    </div>

</div>