<div class="wrapper">

    <app-menu></app-menu>

    <div class="main_body">

        <div class="sidebar_menu">
            <div class="inner__sidebar_menu">

                <ul>
                    <li *ngIf='isAdmin'>
                        <a href="nuevo">
                            <span class="icon">
		              	<i class="fas fa-user-plus"></i></span>
                            <span class="list">Registro de Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="Lista-Usuarios">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span class="list">Lista de Usuarios</span>
                        </a>
                    </li>
                    <li *ngIf='isAdmin'>
                        <a href="nuevaReservacion">
                            <span class="icon"><i class="fas fa-calendar"></i></span>
                            <span class="list">Nueva Reservación</span>
                        </a>
                    </li>
                    <li>
                        <a href="Reservaciones">
                            <span class="icon"><i class="fas fa-calendar-day"></i></span>
                            <span class="list">Reservaciones</span>
                        </a>
                    </li>


                </ul>