<div class="wrapper">

    <div class="top_navbar">
        <div class="logo">
            <a>INNMORTAL</a>
        </div>
        <div class="top_menu">
            <div class="home_link">
                <a href="landing">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span> Landing </span>
                </a>
            </div>
            <div class="right_info">
                <div class="icon_wrap">
                    <div class="icon">
                        <a href="login">

                            <i class="fas fa-door-open"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="main_body">

        <div class="sidebar_menu">
            <div class="inner__sidebar_menu">

                <ul>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-calendar"></i></span>
                            <span class="list">Nueva Reservación</span>
                        </a>
                    </li>
                    <li>
                        <a href="Reservaciones">
                            <span class="icon"><i class="fas fa-calendar-day"></i></span>
                            <span class="list">Reservaciones</span>
                        </a>
                    </li>


                </ul>