<input type="checkbox" id="check">


<label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>


<div class="sidebar">
    <ul>
        <li><a href="registro"><i class="fas fa-user"></i>Registro de Usuarios</a></li>
        <li><a href="ListasdeUsuario"><i class="fas fa-list"></i>Listado de Usuarios</a></li>
        <li><a href="#"><i class="fas fa-calendar-day"></i>Nueva Reservacion</a></li>
        <li><a href="Lista de Reservaciones"><i class="fas fa-calendar-week"></i>Listado de Reservacion</a></li>

    </ul>

</div>